In [1]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')

print(df)

       #                       Name    Type 1  Type 2   HP  Attack  Defense  \
0      1                  Bulbasaur     Grass  Poison   45      49       49
1      2                    Ivysaur     Grass  Poison   60      62       63
2      3                   Venusaur     Grass  Poison   80      82       83
3      3      VenusaurMega Venusaur     Grass  Poison   80     100      123
4      4                 Charmander      Fire     NaN   39      52       43
5      5                 Charmeleon      Fire     NaN   58      64       58
6      6                  Charizard      Fire  Flying   78      84       78
7      6  CharizardMega Charizard X      Fire  Dragon   78     130      111
8      6  CharizardMega Charizard Y      Fire  Flying   78     104       78
9      7                   Squirtle     Water     NaN   44      48       65
10     8                  Wartortle     Water     NaN   59      63       80
11     9                  Blastoise     Water     NaN   79      83      100
12     9    BlastoiseMega Blastoise     Water     NaN   79     103      120
13    10                   Caterpie       Bug     NaN   45      30       35
14    11                    Metapod       Bug     NaN   50      20       55
15    12                 Butterfree       Bug  Flying   60      45       50
16    13                     Weedle       Bug  Poison   40      35       30
17    14                     Kakuna       Bug  Poison   45      25       50
18    15                   Beedrill       Bug  Poison   65      90       40
19    15      BeedrillMega Beedrill       Bug  Poison   65     150       40
20    16                     Pidgey    Normal  Flying   40      45       40
21    17                  Pidgeotto    Normal  Flying   63      60       55
22    18                    Pidgeot    Normal  Flying   83      80       75
23    18        PidgeotMega Pidgeot    Normal  Flying   83      80       80
24    19                    Rattata    Normal     NaN   30      56       35
25    20                   Raticate    Normal     NaN   55      81       60
26    21                    Spearow    Normal  Flying   40      60       30
27    22                     Fearow    Normal  Flying   65      90       65
28    23                      Ekans    Poison     NaN   35      60       44
29    24                      Arbok    Poison     NaN   60      85       69
..   ...                        ...       ...     ...  ...     ...      ...
770  700                    Sylveon     Fairy     NaN   95      65       65
771  701                   Hawlucha  Fighting  Flying   78      92       75
772  702                    Dedenne  Electric   Fairy   67      58       57
773  703                    Carbink      Rock   Fairy   50      50      150
774  704                      Goomy    Dragon     NaN   45      50       35
775  705                    Sliggoo    Dragon     NaN   68      75       53
776  706                     Goodra    Dragon     NaN   90     100       70
777  707                     Klefki     Steel   Fairy   57      80       91
778  708                   Phantump     Ghost   Grass   43      70       48
779  709                  Trevenant     Ghost   Grass   85     110       76
780  710      PumpkabooAverage Size     Ghost   Grass   49      66       70
781  710        PumpkabooSmall Size     Ghost   Grass   44      66       70
782  710        PumpkabooLarge Size     Ghost   Grass   54      66       70
783  710        PumpkabooSuper Size     Ghost   Grass   59      66       70
784  711      GourgeistAverage Size     Ghost   Grass   65      90      122
785  711        GourgeistSmall Size     Ghost   Grass   55      85      122
786  711        GourgeistLarge Size     Ghost   Grass   75      95      122
787  711        GourgeistSuper Size     Ghost   Grass   85     100      122
788  712                   Bergmite       Ice     NaN   55      69       85
789  713                    Avalugg       Ice     NaN   95     117      184
790  714                     Noibat    Flying  Dragon   40      30       35
791  715                    Noivern    Flying  Dragon   85      70       80
792  716                    Xerneas     Fairy     NaN  126     131       95
793  717                    Yveltal      Dark  Flying  126     131       95
794  718           Zygarde50% Forme    Dragon  Ground  108     100      121
795  719                    Diancie      Rock   Fairy   50     100      150
796  719        DiancieMega Diancie      Rock   Fairy   50     160      110
797  720        HoopaHoopa Confined   Psychic   Ghost   80     110       60
798  720         HoopaHoopa Unbound   Psychic    Dark   80     160       60
799  721                  Volcanion      Fire   Water   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
5         80       65     80           1      False
6        109       85    100           1      False
7        130       85    100           1      False
8        159      115    100           1      False
9         50       64     43           1      False
10        65       80     58           1      False
11        85      105     78           1      False
12       135      115     78           1      False
13        20       20     45           1      False
14        25       25     30           1      False
15        90       80     70           1      False
16        20       20     50           1      False
17        25       25     35           1      False
18        45       80     75           1      False
19        15       80    145           1      False
20        35       35     56           1      False
21        50       50     71           1      False
22        70       70    101           1      False
23       135       80    121           1      False
24        25       35     72           1      False
25        50       70     97           1      False
26        31       31     70           1      False
27        61       61    100           1      False
28        40       54     55           1      False
29        65       79     80           1      False
..       ...      ...    ...         ...        ...
770      110      130     60           6      False
771       74       63    118           6      False
772       81       67    101           6      False
773       50      150     50           6      False
774       55       75     40           6      False
775       83      113     60           6      False
776      110      150     80           6      False
777       80       87     75           6      False
778       50       60     38           6      False
779       65       82     56           6      False
780       44       55     51           6      False
781       44       55     56           6      False
782       44       55     46           6      False
783       44       55     41           6      False
784       58       75     84           6      False
785       58       75     99           6      False
786       58       75     69           6      False
787       58       75     54           6      False
788       32       35     28           6      False
789       44       46     28           6      False
790       45       40     55           6      False
791       97       80    123           6      False
792      131       98     99           6       True
793      131       98     99           6       True
794       81       95     95           6       True
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [2]:
#read headers

df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [3]:
#read each column
df['Name']

0                      Bulbasaur
1                        Ivysaur
2                       Venusaur
3          VenusaurMega Venusaur
4                     Charmander
5                     Charmeleon
6                      Charizard
7      CharizardMega Charizard X
8      CharizardMega Charizard Y
9                       Squirtle
10                     Wartortle
11                     Blastoise
12       BlastoiseMega Blastoise
13                      Caterpie
14                       Metapod
15                    Butterfree
16                        Weedle
17                        Kakuna
18                      Beedrill
19         BeedrillMega Beedrill
20                        Pidgey
21                     Pidgeotto
22                       Pidgeot
23           PidgeotMega Pidgeot
24                       Rattata
25                      Raticate
26                       Spearow
27                        Fearow
28                         Ekans
29                         Arbok
                 ...
770                      Sylveon
771                     Hawlucha
772                      Dedenne
773                      Carbink
774                        Goomy
775                      Sliggoo
776                       Goodra
777                       Klefki
778                     Phantump
779                    Trevenant
780        PumpkabooAverage Size
781          PumpkabooSmall Size
782          PumpkabooLarge Size
783          PumpkabooSuper Size
784        GourgeistAverage Size
785          GourgeistSmall Size
786          GourgeistLarge Size
787          GourgeistSuper Size
788                     Bergmite
789                      Avalugg
790                       Noibat
791                      Noivern
792                      Xerneas
793                      Yveltal
794             Zygarde50% Forme
795                      Diancie
796          DiancieMega Diancie
797          HoopaHoopa Confined
798           HoopaHoopa Unbound
799                    Volcanion
Name: Name, Length: 800, dtype: object

In [4]:
#read each colum

df[['Name','Type 1','HP']]

                          Name    Type 1   HP
0                    Bulbasaur     Grass   45
1                      Ivysaur     Grass   60
2                     Venusaur     Grass   80
3        VenusaurMega Venusaur     Grass   80
4                   Charmander      Fire   39
5                   Charmeleon      Fire   58
6                    Charizard      Fire   78
7    CharizardMega Charizard X      Fire   78
8    CharizardMega Charizard Y      Fire   78
9                     Squirtle     Water   44
10                   Wartortle     Water   59
11                   Blastoise     Water   79
12     BlastoiseMega Blastoise     Water   79
13                    Caterpie       Bug   45
14                     Metapod       Bug   50
15                  Butterfree       Bug   60
16                      Weedle       Bug   40
17                      Kakuna       Bug   45
18                    Beedrill       Bug   65
19       BeedrillMega Beedrill       Bug   65
20                      Pidgey    Normal   40
21                   Pidgeotto    Normal   63
22                     Pidgeot    Normal   83
23         PidgeotMega Pidgeot    Normal   83
24                     Rattata    Normal   30
25                    Raticate    Normal   55
26                     Spearow    Normal   40
27                      Fearow    Normal   65
28                       Ekans    Poison   35
29                       Arbok    Poison   60
..                         ...       ...  ...
770                    Sylveon     Fairy   95
771                   Hawlucha  Fighting   78
772                    Dedenne  Electric   67
773                    Carbink      Rock   50
774                      Goomy    Dragon   45
775                    Sliggoo    Dragon   68
776                     Goodra    Dragon   90
777                     Klefki     Steel   57
778                   Phantump     Ghost   43
779                  Trevenant     Ghost   85
780      PumpkabooAverage Size     Ghost   49
781        PumpkabooSmall Size     Ghost   44
782        PumpkabooLarge Size     Ghost   54
783        PumpkabooSuper Size     Ghost   59
784      GourgeistAverage Size     Ghost   65
785        GourgeistSmall Size     Ghost   55
786        GourgeistLarge Size     Ghost   75
787        GourgeistSuper Size     Ghost   85
788                   Bergmite       Ice   55
789                    Avalugg       Ice   95
790                     Noibat    Flying   40
791                    Noivern    Flying   85
792                    Xerneas     Fairy  126
793                    Yveltal      Dark  126
794           Zygarde50% Forme    Dragon  108
795                    Diancie      Rock   50
796        DiancieMega Diancie      Rock   50
797        HoopaHoopa Confined   Psychic   80
798         HoopaHoopa Unbound   Psychic   80
799                  Volcanion      Fire   80

[800 rows x 3 columns]

In [5]:
#another way to read column

df.Name[0:7]

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
5               Charmeleon
6                Charizard
Name: Name, dtype: object

In [6]:
# read row

df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [7]:
#read specific row, use iloc-integar location

df.iloc[5]

#                      5
Name          Charmeleon
Type 1              Fire
Type 2               NaN
HP                    58
Attack                64
Defense               58
Sp. Atk               80
Sp. Def               65
Speed                 80
Generation             1
Legendary          False
Name: 5, dtype: object

In [8]:
#read specific location row & column

df.iloc[5,2]

'Fire'

In [9]:
df.iloc[0:4]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [10]:
df.loc[df['Name'] == 'Charmeleon']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False

In [11]:
#Describe used for high-level mean, standard deviations, counts....
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [12]:
#sorting values alphabatical

df.sort_values('Name')[0:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
750,681,AegislashBlade Forme,Steel,Ghost,60,150,50,150,50,60,6,False
751,681,AegislashShield Forme,Steel,Ghost,60,50,150,50,150,60,6,False
153,142,Aerodactyl,Rock,Flying,80,105,65,60,75,130,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False

In [13]:
#descending order

df.sort_values('Name', ascending =False)[0:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
286,263,Zigzagoon,Normal,NaN,38,30,41,30,41,60,3,False
707,644,Zekrom,Dragon,Electric,100,150,120,120,100,90,5,True
582,523,Zebstrika,Electric,NaN,75,100,63,80,63,116,5,False
157,145,Zapdos,Electric,Flying,90,90,85,125,90,100,1,True
367,335,Zangoose,Normal,NaN,73,115,60,60,60,90,3,False

In [14]:
df.sort_values(['Name', 'Type 1', 'HP'], ascending=False)[0:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
286,263,Zigzagoon,Normal,NaN,38,30,41,30,41,60,3,False
707,644,Zekrom,Dragon,Electric,100,150,120,120,100,90,5,True
582,523,Zebstrika,Electric,NaN,75,100,63,80,63,116,5,False
157,145,Zapdos,Electric,Flying,90,90,85,125,90,100,1,True
367,335,Zangoose,Normal,NaN,73,115,60,60,60,90,3,False

In [15]:
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [16]:
#dropping a column

df = df.drop(columns = ['Total'])

In [17]:
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [18]:
df['Total_sum'] = df.iloc[:, 4:10].sum(axis=1) #added total column again

In [19]:
#moving a column

cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

In [20]:
df.head(5)

,#,Name,Type 1,Type 2,Total_sum,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [21]:
df.to_csv('Modified.csv')

In [22]:
df.loc[df['Type 1'] == 'Grass'] [0:10] #locating specific df

,#,Name,Type 1,Type 2,Total_sum,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,390,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False

In [23]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['Total_sum'] > 300)]

In [24]:
new_df

,#,Name,Type 1,Type 2,Total_sum,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
76,70,Weepinbell,Grass,Poison,390,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
344,315,Roselia,Grass,Poison,400,50,60,45,100,80,65,3,False
452,407,Roserade,Grass,Poison,515,60,70,65,125,105,90,4,False
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [25]:
new_df.to_csv('Filter_testing_newFile')

In [26]:
new_df

,#,Name,Type 1,Type 2,Total_sum,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
76,70,Weepinbell,Grass,Poison,390,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
344,315,Roselia,Grass,Poison,400,50,60,45,100,80,65,3,False
452,407,Roserade,Grass,Poison,515,60,70,65,125,105,90,4,False
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [27]:
df.loc[df['Type 2'] == 'Poison', 'Type 2'] = 'Boom'

df

,#,Name,Type 1,Type 2,Total_sum,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Boom,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Boom,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Boom,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Boom,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Boom,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Boom,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Boom,395,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Boom,495,65,150,40,15,80,145,1,False
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
24,19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
25,20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
26,21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
27,22,Fearow,Normal,Flying,442,65,90,65,61,61,100,1,False
28,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
29,24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,700,Sylveon,Fairy,NaN,525,95,65,65,110,130,60,6,False
771,701,Hawlucha,Fighting,Flying,500,78,92,75,74,63,118,6,False
772,702,Dedenne,Electric,Fairy,431,67,58,57,81,67,101,6,False
773,703,Carbink,Rock,Fairy,500,50,50,150,50,150,50,6,False
774,704,Goomy,Dragon,NaN,300,45,50,35,55,75,40,6,False
775,705,Sliggoo,Dragon,NaN,452,68,75,53,83,113,60,6,False
776,706,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,False
777,707,Klefki,Steel,Fairy,470,57,80,91,80,87,75,6,False
778,708,Phantump,Ghost,Grass,309,43,70,48,50,60,38,6,False
779,709,Trevenant,Ghost,Grass,474,85,110,76,65,82,56,6,False
780,710,PumpkabooAverage Size,Ghost,Grass,335,49,66,70,44,55,51,6,False
781,710,PumpkabooSmall Size,Ghost,Grass,335,44,66,70,44,55,56,6,False
782,710,PumpkabooLarge Size,Ghost,Grass,335,54,66,70,44,55,46,6,False
783,710,PumpkabooSuper Size,Ghost,Grass,335,59,66,70,44,55,41,6,False
784,711,GourgeistAverage Size,Ghost,Grass,494,65,90,122,58,75,84,6,False
785,711,GourgeistSmall Size,Ghost,Grass,494,55,85,122,58,75,99,6,False
786,711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True