In [1]:
import pandas as pd

In [2]:
df= pd.DataFrame([[4, 7, 10],[5, 8, 11],[6, 9, 12]], index=[1, 2, 3], columns=['a', 'b', 'c'])

In [3]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [4]:
df2 = pd.DataFrame({'name': ['John','Joe','james'],'Address': ['Toronto', 'Kingston','Edmonton']})

In [5]:
df2

    name   Address
0   John   Toronto
1    Joe  Kingston
2  james  Edmonton

In [6]:
df2 = pd.DataFrame({'name': ['John','Joe','james'],'Address': ['Toronto', 'Kingston','Edmonton']}, index= ['student_1', 'student_2', 'student_3'])

In [7]:
df2

            name   Address
student_1   John   Toronto
student_2    Joe  Kingston
student_3  james  Edmonton

In [8]:
#read csv file with pandas
data = pd.read_csv('cars.csv')

In [9]:
data

            make    model   color  year  doors
0         Toyota    prius   white  2018      4
1            BMW       X5    blue  2016      4
2          Tesla  Model S   White  2017      4
3          Honda   Accord   black  2019      4
4  Mercedes Benz       C3    blue  2016      4

In [10]:
#read a file that is tab separated 
products = pd.read_csv('products-2.csv', sep='\t')

In [11]:
products

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E},2014-02-08 10:01:36.827000000
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B},2014-02-08 10:01:36.827000000
4,316,Blade,BL-2036,1,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{E73E9750-603B-4131-89F5-3DD15ED5FF80},2014-02-08 10:01:36.827000000
5,317,LL Crankarm,CA-5965,0,0,Black,500,375,0.0000,0.00,...,NaN,L,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{3C9D10B7-A6B2-4774-9963-C19DCEE72FEA},2014-02-08 10:01:36.827000000
6,318,ML Crankarm,CA-6738,0,0,Black,500,375,0.0000,0.00,...,NaN,M,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{EABB9A92-FA07-4EAB-8955-F0517B4A4CA7},2014-02-08 10:01:36.827000000
7,319,HL Crankarm,CA-7457,0,0,Black,500,375,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{7D3FD384-4F29-484B-86FA-4206E276FE58},2014-02-08 10:01:36.827000000
8,320,Chainring Bolts,CB-2903,0,0,Silver,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{7BE38E48-B7D6-4486-888E-F53C26735101},2014-02-08 10:01:36.827000000
9,321,Chainring Nut,CN-6137,0,0,Silver,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{3314B1D7-EF69-4431-B6DD-DC75268BD5DF},2014-02-08 10:01:36.827000000
10,322,Chainring,CR-7833,0,0,Black,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{F0AC2C4D-1A1F-4E3C-B4D9-68AEA0EC1CE4},2014-02-08 10:01:36.827000000
11,323,Crown Race,CR-9981,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{51A32CA6-65A1-4C31-AF2B-D9E4F5D631D4},2014-02-08 10:01:36.827000000
12,324,Chain Stays,CS-2812,1,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{FE0678ED-AEF2-4C58-A450-8151CC24DDD8},2014-02-08 10:01:36.827000000
13,325,Decal 1,DC-8732,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{05CE123C-A402-478E-AE9B-75D7727AEAAD},2014-02-08 10:01:36.827000000
14,326,Decal 2,DC-9824,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{A56851F9-1CD7-4E2F-8779-2E773E1B5209},2014-02-08 10:01:36.827000000
15,327,Down Tube,DT-2377,1,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{1DAD47DD-E259-42B8-B8B4-15A0B7D21B2F},2014-02-08 10:01:36.827000000
16,328,Mountain End Caps,EC-M092,1,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{6070B1EA-59B7-4F8B-950F-2BE07D00449D},2014-02-08 10:01:36.827000000
17,329,Road End Caps,EC-R098,1,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{88399D13-719E-4545-81D6-F0650F372FA2},2014-02-08 10:01:36.827000000
18,330,Touring End Caps,EC-T209,1,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{6903CE24-D0CE-4191-9198-4231DE37A929},2014-02-08 10:01:36.827000000
19,331,Fork End,FE-3760,1,0,NaN,800,600,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{C91D602E-DA52-43D2-BD7E-EB110A9392B9},2014-02-08 10:01:36.827000000
20,332,Freewheel,FH-2981,0,0,Silver,500,375,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{D864879A-E8B1-4F7B-BAFA-1F136089C2C8},2014-02-08 10:01:36.827000000
21,341,Flat Washer 1,FW-1000,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{A3F2FA3A-22E1-43D8-A131-A9B89C32D8EA},2014-02-08 10:01:36.827000000
22,342,Flat Washer 6,FW-1200,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{331ADDEC-E9B9-4A7E-9324-42069C2DCDC4},2014-02-08 10:01:36.827000000
23,343,Flat Washer 2,FW-1400,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{84A3473E-AE26-4A21-81B9-60BB418A79B2},2014-02-08 10:01:36.827000000
24,344,Flat Washer 9,FW-3400,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{0AE4CE60-5242-48F5-ADA1-3013FF45F969},2014-02-08 10:01:36.827000000
25,345,Flat Washer 4,FW-3800,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{2C1C58B4-234C-4B3A-8C8E-84524AC05EEA},2014-02-08 10:01:36.827000000
26,346,Flat Washer 3,FW-5160,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{590C2C3F-A8B6-42B5-9412-D655E37F0EAE},2014-02-08 10:01:36.827000000
27,347,Flat Washer 8,FW-5800,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{1B73F5FE-AB85-49FC-99AD-0500CEBDA91D},2014-02-08 10:01:36.827000000
28,348,Flat Washer 5,FW-7160,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{D182CF18-4DDF-429B-A0DF-DE1CFC92622D},2014-02-08 10:01:36.827000000
29,349,Flat Washer 7,FW-9160,0,0,NaN,1000,750,0.0000,0.00,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{7E55F64D-EA3C-45FF-BE72-F7F7B9D61A79},2014-02-08 10:01:36.827000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,970,Touring-2000 Blue 46,BK-T44U-46,1,1,Blue,100,75,755.1508,1214.85,...,T,M,U,3.0,35.0,2013-05-30 00:00:00,NaN,NaN,{C0009006-715F-4B76-A05A-1A0D3ADFB49A},2014-02-08 10:01:36.827000000
475,971,Touring-2000 Blue 50,BK-T44U-50,1,1,Blue,100,75,755.1508,1214.85,...,T,M,U,3.0,35.0,2013-05-30 00:00:00,NaN,NaN,{84ABDA8F-0007-4BCA-9A61-B2DEA58866C3},2014-02-08 10:01:36.827000000
476,972,Touring-2000 Blue 54,BK-T44U-54,1,1,Blue,100,75,755.1508,1214.85,...,T,M,U,3.0,35.0,2013-05-30 00:00:00,NaN,NaN,{6DCFE2A3-3555-44E4-9116-6F6DBE448B8B},2014-02-08 10:01:36.827000000
477,973,Road-350-W Yellow 40,BK-R79Y-40,1,1,Yellow,100,75,1082.5100,1700.99,...,R,M,W,2.0,27.0,2013-05-30 00:00:00,NaN,NaN,{237B16D9-53F2-4FD4-BEFE-48209E57AEC3},2014-02-08 10:01:36.827000000
478,974,Road-350-W Yellow 42,BK-R79Y-42,1,1,Yellow,100,75,1082.5100,1700.99,...,R,M,W,2.0,27.0,2013-05-30 00:00:00,NaN,NaN,{80BD3F8B-42C7-43D8-91F5-9FB6175287AF},2014-02-08 10:01:36.827000000
479,975,Road-350-W Yellow 44,BK-R79Y-44,1,1,Yellow,100,75,1082.5100,1700.99,...,R,M,W,2.0,27.0,2013-05-30 00:00:00,NaN,NaN,{0C61E8AF-003D-4E4B-B5B7-02F01A26BE26},2014-02-08 10:01:36.827000000
480,976,Road-350-W Yellow 48,BK-R79Y-48,1,1,Yellow,100,75,1082.5100,1700.99,...,R,M,W,2.0,27.0,2013-05-30 00:00:00,NaN,NaN,{EC4284DC-85FA-44A8-89EC-77FC9B71720A},2014-02-08 10:01:36.827000000
481,977,Road-750 Black 58,BK-R19B-58,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{87B81A1A-A5B5-43D2-A20D-0230800490B9},2014-02-08 10:01:36.827000000
482,978,Touring-3000 Blue 44,BK-T18U-44,1,1,Blue,100,75,461.4448,742.35,...,T,L,U,3.0,36.0,2013-05-30 00:00:00,NaN,NaN,{4F638E15-2ED0-4193-90CE-47DA580E01DD},2014-02-08 10:01:36.827000000
483,979,Touring-3000 Blue 50,BK-T18U-50,1,1,Blue,100,75,461.4448,742.35,...,T,L,U,3.0,36.0,2013-05-30 00:00:00,NaN,NaN,{DE305B62-88FC-465B-B23D-D8C0F7E6D361},2014-02-08 10:01:36.827000000
484,980,Mountain-400-W Silver 38,BK-M38S-38,1,1,Silver,100,75,419.7784,769.49,...,M,M,W,1.0,22.0,2013-05-30 00:00:00,NaN,NaN,{7A927632-99A4-4F24-ADCE-0062D2D113D9},2014-02-08 10:01:36.827000000
485,981,Mountain-400-W Silver 40,BK-M38S-40,1,1,Silver,100,75,419.7784,769.49,...,M,M,W,1.0,22.0,2013-05-30 00:00:00,NaN,NaN,{0A72791C-A984-4733-AE4E-2B4373CFD7CD},2014-02-08 10:01:36.827000000
486,982,Mountain-400-W Silver 42,BK-M38S-42,1,1,Silver,100,75,419.7784,769.49,...,M,M,W,1.0,22.0,2013-05-30 00:00:00,NaN,NaN,{4EA4FE06-AAEA-42D4-A9D9-69F6A9A4A042},2014-02-08 10:01:36.827000000
487,983,Mountain-400-W Silver 46,BK-M38S-46,1,1,Silver,100,75,419.7784,769.49,...,M,M,W,1.0,22.0,2013-05-30 00:00:00,NaN,NaN,{0B0C8EE4-FF2D-438E-9CAC-464783B86191},2014-02-08 10:01:36.827000000
488,984,Mountain-500 Silver 40,BK-M18S-40,1,1,Silver,100,75,308.2179,564.99,...,M,L,U,1.0,23.0,2013-05-30 00:00:00,NaN,NaN,{B96C057B-6416-4851-8D59-BCB37C8E6E51},2014-02-08 10:01:36.827000000
489,985,Mountain-500 Silver 42,BK-M18S-42,1,1,Silver,100,75,308.2179,564.99,...,M,L,U,1.0,23.0,2013-05-30 00:00:00,NaN,NaN,{B8D1B5D9-8A39-4097-A04A-56E95559B534},2014-02-08 10:01:36.827000000
490,986,Mountain-500 Silver 44,BK-M18S-44,1,1,Silver,100,75,308.2179,564.99,...,M,L,U,1.0,23.0,2013-05-30 00:00:00,NaN,NaN,{E8CEC794-E8E2-4312-96A7-4832E573D3FC},2014-02-08 10:01:36.827000000
491,987,Mountain-500 Silver 48,BK-M18S-48,1,1,Silver,100,75,308.2179,564.99,...,M,L,U,1.0,23.0,2013-05-30 00:00:00,NaN,NaN,{77EF419F-481F-40B9-BDB9-7E6678E550E3},2014-02-08 10:01:36.827000000
492,988,Mountain-500 Silver 52,BK-M18S-52,1,1,Silver,100,75,308.2179,564.99,...,M,L,U,1.0,23.0,2013-05-30 00:00:00,NaN,NaN,{CAD60945-183E-4AB3-A70C-3F5BAC6BF134},2014-02-08 10:01:36.827000000
493,989,Mountain-500 Black 40,BK-M18B-40,1,1,Black,100,75,294.5797,539.99,...,M,L,U,1.0,23.0,2013-05-30 00:00:00,NaN,NaN,{28287157-3F06-487B-8531-BEE8A37329E4},2014-02-08 10:01:36.827000000
494,990,Mountain-500 Black 42,BK-M18B-42,1,1,Black,100,75,294.5797,539.99,...,M,L,U,1.0,23.0,2013-05-30 00:00:00,NaN,NaN,{F5752C9C-56BA-41A7-83FD-139DA28C15FA},2014-02-08 10:01:36.827000000
495,991,Mountain-500 Black 44,BK-M18B-44,1,1,Black,100,75,294.5797,539.99,...,M,L,U,1.0,23.0,2013-05-30 00:00:00,NaN,NaN,{C7852127-2FB8-4959-B5A3-DE5A8D6445E4},2014-02-08 10:01:36.827000000
496,992,Mountain-500 Black 48,BK-M18B-48,1,1,Black,100,75,294.5797,539.99,...,M,L,U,1.0,23.0,2013-05-30 00:00:00,NaN,NaN,{75752E26-A3B6-4264-9B06-F23A4FBDC5A7},2014-02-08 10:01:36.827000000
497,993,Mountain-500 Black 52,BK-M18B-52,1,1,Black,100,75,294.5797,539.99,...,M,L,U,1.0,23.0,2013-05-30 00:00:00,NaN,NaN,{69EE3B55-E142-4E4F-AED8-AF02978FBE87},2014-02-08 10:01:36.827000000
498,994,LL Bottom Bracket,BB-7421,1,1,NaN,500,375,23.9716,53.99,...,NaN,L,NaN,5.0,95.0,2013-05-30 00:00:00,NaN,NaN,{FA3C65CD-0A22-47E3-BDF6-53F1DC138C43},2014-02-08 10:01:36.827000000
499,995,ML Bottom Bracket,BB-8107,1,1,NaN,500,375,44.9506,101.24,...,NaN,M,NaN,5.0,96.0,2013-05-30 00:00:00,NaN,NaN,{71AB847F-D091-42D6-B735-7B0C2D82FC84},2014-02-08 10:01:36.827000000
500,996,HL Bottom Bracket,BB-9108,1,1,NaN,500,375,53.9416,121.49,...,NaN,H,NaN,5.0,97.0,2013-05-30 00:00:00,NaN,NaN,{230C47C5-08B2-4CE3-B706-69C0BDD62965},2014-02-08 10:01:36.827000000
501,997,Road-750 Black 44,BK-R19B-44,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{44CE4802-409F-43AB-9B27-CA53421805BE},2014-02-08 10:01:36.827000000
502,998,Road-750 Black 48,BK-R19B-48,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{3DE9A212-1D49-40B6-B10A-F564D981DBDE},2014-02-08 10:01:36.827000000
503,999,Road-750 Black 52,BK-R19B-52,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{AE638923-2B67-4679-B90E-ABBAB17DCA31},2014-02-08 10:01:36.827000000

In [12]:
#how many rows and columns
products.shape

(504, 25)

In [13]:
#inspect our data
products.head() #the first 5 rows

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E},2014-02-08 10:01:36.827000000
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B},2014-02-08 10:01:36.827000000
4,316,Blade,BL-2036,1,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{E73E9750-603B-4131-89F5-3DD15ED5FF80},2014-02-08 10:01:36.827000000

In [14]:
#last five rows
products.tail()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
499,995,ML Bottom Bracket,BB-8107,1,1,NaN,500,375,44.9506,101.24,...,NaN,M,NaN,5.0,96.0,2013-05-30 00:00:00,NaN,NaN,{71AB847F-D091-42D6-B735-7B0C2D82FC84},2014-02-08 10:01:36.827000000
500,996,HL Bottom Bracket,BB-9108,1,1,NaN,500,375,53.9416,121.49,...,NaN,H,NaN,5.0,97.0,2013-05-30 00:00:00,NaN,NaN,{230C47C5-08B2-4CE3-B706-69C0BDD62965},2014-02-08 10:01:36.827000000
501,997,Road-750 Black 44,BK-R19B-44,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{44CE4802-409F-43AB-9B27-CA53421805BE},2014-02-08 10:01:36.827000000
502,998,Road-750 Black 48,BK-R19B-48,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{3DE9A212-1D49-40B6-B10A-F564D981DBDE},2014-02-08 10:01:36.827000000
503,999,Road-750 Black 52,BK-R19B-52,1,1,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30 00:00:00,NaN,NaN,{AE638923-2B67-4679-B90E-ABBAB17DCA31},2014-02-08 10:01:36.827000000

In [15]:
#summary stats
#basic statistical summary of all numeric values in the dataset
products.describe()

,ProductID,MakeFlag,FinishedGoodsFlag,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Weight,DaysToManufacture,ProductSubcategoryID,ProductModelID,DiscontinuedDate
count,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000,205.000000,504.000000,295.000000,295.000000,0.0
mean,673.039683,0.474206,0.585317,535.150794,401.363095,258.602961,438.666250,74.069220,1.103175,12.294915,37.444068,NaN
std,229.373142,0.499830,0.493157,374.112954,280.584715,461.632808,773.602843,182.166588,1.492616,9.860135,34.025442,NaN
min,1.000000,0.000000,0.000000,4.000000,3.000000,0.000000,0.000000,2.120000,0.000000,1.000000,1.000000,NaN
25%,447.750000,0.000000,0.000000,100.000000,75.000000,0.000000,0.000000,2.880000,0.000000,2.000000,11.000000,NaN
50%,747.500000,0.000000,1.000000,500.000000,375.000000,23.372200,49.990000,17.900000,1.000000,12.000000,26.000000,NaN
75%,873.250000,1.000000,1.000000,1000.000000,750.000000,317.075825,564.990000,27.350000,1.000000,17.000000,48.500000,NaN
max,999.000000,1.000000,1.000000,1000.000000,750.000000,2171.294200,3578.270000,1050.000000,4.000000,37.000000,128.000000,NaN

In [16]:
#displaying subsets of our dataset
products['ListPrice'] #this returns a pandas series object

0         0.00
1         0.00
2         0.00
3         0.00
4         0.00
5         0.00
6         0.00
7         0.00
8         0.00
9         0.00
10        0.00
11        0.00
12        0.00
13        0.00
14        0.00
15        0.00
16        0.00
17        0.00
18        0.00
19        0.00
20        0.00
21        0.00
22        0.00
23        0.00
24        0.00
25        0.00
26        0.00
27        0.00
28        0.00
29        0.00
        ...
474    1214.85
475    1214.85
476    1214.85
477    1700.99
478    1700.99
479    1700.99
480    1700.99
481     539.99
482     742.35
483     742.35
484     769.49
485     769.49
486     769.49
487     769.49
488     564.99
489     564.99
490     564.99
491     564.99
492     564.99
493     539.99
494     539.99
495     539.99
496     539.99
497     539.99
498      53.99
499     101.24
500     121.49
501     539.99
502     539.99
503     539.99
Name: ListPrice, Length: 504, dtype: float64

In [17]:
products[['ProductID','ListPrice', 'Color', 'Weight']] #this returns a dataframe

     ProductID  ListPrice   Color  Weight
0            1       0.00     NaN     NaN
1            2       0.00     NaN     NaN
2            3       0.00     NaN     NaN
3            4       0.00     NaN     NaN
4          316       0.00     NaN     NaN
5          317       0.00   Black     NaN
6          318       0.00   Black     NaN
7          319       0.00   Black     NaN
8          320       0.00  Silver     NaN
9          321       0.00  Silver     NaN
10         322       0.00   Black     NaN
11         323       0.00     NaN     NaN
12         324       0.00     NaN     NaN
13         325       0.00     NaN     NaN
14         326       0.00     NaN     NaN
15         327       0.00     NaN     NaN
16         328       0.00     NaN     NaN
17         329       0.00     NaN     NaN
18         330       0.00     NaN     NaN
19         331       0.00     NaN     NaN
20         332       0.00  Silver     NaN
21         341       0.00     NaN     NaN
22         342       0.00     NaN     NaN
23         343       0.00     NaN     NaN
24         344       0.00     NaN     NaN
25         345       0.00     NaN     NaN
26         346       0.00     NaN     NaN
27         347       0.00     NaN     NaN
28         348       0.00     NaN     NaN
29         349       0.00     NaN     NaN
..         ...        ...     ...     ...
474        970    1214.85    Blue   27.13
475        971    1214.85    Blue   27.42
476        972    1214.85    Blue   27.68
477        973    1700.99  Yellow   15.35
478        974    1700.99  Yellow   15.77
479        975    1700.99  Yellow   16.13
480        976    1700.99  Yellow   16.42
481        977     539.99   Black   20.79
482        978     742.35    Blue   28.77
483        979     742.35    Blue   29.13
484        980     769.49  Silver   26.35
485        981     769.49  Silver   26.77
486        982     769.49  Silver   27.13
487        983     769.49  Silver   27.42
488        984     564.99  Silver   27.35
489        985     564.99  Silver   27.77
490        986     564.99  Silver   28.13
491        987     564.99  Silver   28.42
492        988     564.99  Silver   28.68
493        989     539.99   Black   27.35
494        990     539.99   Black   27.77
495        991     539.99   Black   28.13
496        992     539.99   Black   28.42
497        993     539.99   Black   28.68
498        994      53.99     NaN  223.00
499        995     101.24     NaN  168.00
500        996     121.49     NaN  170.00
501        997     539.99   Black   19.77
502        998     539.99   Black   20.13
503        999     539.99   Black   20.42

[504 rows x 4 columns]

In [18]:
#list the columns in the dataframe
products.columns

Index(['ProductID', 'Name', 'ProductNumber', 'MakeFlag', 'FinishedGoodsFlag',
       'Color', 'SafetyStockLevel', 'ReorderPoint', 'StandardCost',
       'ListPrice', 'Size', 'SizeUnitMeasureCode', 'WeightUnitMeasureCode',
       'Weight', 'DaysToManufacture', 'ProductLine', 'Class', 'Style',
       'ProductSubcategoryID', 'ProductModelID', 'SellStartDate',
       'SellEndDate', 'DiscontinuedDate', 'rowguid', 'ModifiedDate'],
      dtype='object')

In [19]:
#subets of our data based on certain conditions
#show all the products that are black (productID, Color, Weight)
products[products['Color'] == 'Black'][['ProductID','Color','Weight']]

     ProductID  Color  Weight
5          317  Black     NaN
6          318  Black     NaN
7          319  Black     NaN
10         322  Black     NaN
209        680  Black    2.24
212        708  Black     NaN
226        722  Black    2.46
227        723  Black    2.48
228        724  Black    2.50
240        736  Black    2.32
241        737  Black    2.36
242        738  Black    2.40
247        743  Black    2.72
248        744  Black    2.76
249        745  Black    2.80
250        746  Black    2.84
251        747  Black    2.68
269        765  Black   19.79
270        766  Black   19.90
271        767  Black   20.00
272        768  Black   18.77
273        769  Black   19.13
274        770  Black   19.42
279        775  Black   20.35
280        776  Black   20.77
281        777  Black   21.13
282        778  Black   21.42
286        782  Black   23.35
287        783  Black   23.77
288        784  Black   24.13
..         ...    ...     ...
355        851  Black     NaN
356        852  Black     NaN
357        853  Black     NaN
358        854  Black     NaN
362        858  Black     NaN
363        859  Black     NaN
364        860  Black     NaN
365        861  Black     NaN
366        862  Black     NaN
367        863  Black     NaN
371        867  Black     NaN
372        868  Black     NaN
373        869  Black     NaN
428        924  Black    2.92
429        925  Black    2.96
430        926  Black    3.00
431        927  Black    3.04
447        943  Black    2.88
453        949  Black  600.00
454        950  Black  635.00
455        951  Black  575.00
481        977  Black   20.79
493        989  Black   27.35
494        990  Black   27.77
495        991  Black   28.13
496        992  Black   28.42
497        993  Black   28.68
501        997  Black   19.77
502        998  Black   20.13
503        999  Black   20.42

[93 rows x 3 columns]

In [20]:
#list the productID, Name and ReorderPoint of all the products with a ListPrice greater than 500
products[products['ListPrice'] > 500][['ProductID','Name','ReorderPoint']]

     ProductID                           Name  ReorderPoint
209        680       HL Road Frame - Black 58           375
210        706         HL Road Frame - Red 58           375
221        717         HL Road Frame - Red 62           375
222        718         HL Road Frame - Red 44           375
223        719         HL Road Frame - Red 48           375
224        720         HL Road Frame - Red 52           375
225        721         HL Road Frame - Red 56           375
235        731         ML Road Frame - Red 44           375
236        732         ML Road Frame - Red 48           375
237        733         ML Road Frame - Red 52           375
238        734         ML Road Frame - Red 58           375
239        735         ML Road Frame - Red 60           375
243        739  HL Mountain Frame - Silver 42           375
244        740  HL Mountain Frame - Silver 44           375
245        741  HL Mountain Frame - Silver 48           375
246        742  HL Mountain Frame - Silver 46           375
247        743   HL Mountain Frame - Black 42           375
248        744   HL Mountain Frame - Black 44           375
249        745   HL Mountain Frame - Black 48           375
250        746   HL Mountain Frame - Black 46           375
251        747   HL Mountain Frame - Black 38           375
252        748  HL Mountain Frame - Silver 38           375
253        749                Road-150 Red 62            75
254        750                Road-150 Red 44            75
255        751                Road-150 Red 48            75
256        752                Road-150 Red 52            75
257        753                Road-150 Red 56            75
258        754                Road-450 Red 58            75
259        755                Road-450 Red 60            75
260        756                Road-450 Red 44            75
..         ...                            ...           ...
471        967           Touring-1000 Blue 50            75
472        968           Touring-1000 Blue 54            75
473        969           Touring-1000 Blue 60            75
474        970           Touring-2000 Blue 46            75
475        971           Touring-2000 Blue 50            75
476        972           Touring-2000 Blue 54            75
477        973           Road-350-W Yellow 40            75
478        974           Road-350-W Yellow 42            75
479        975           Road-350-W Yellow 44            75
480        976           Road-350-W Yellow 48            75
481        977              Road-750 Black 58            75
482        978           Touring-3000 Blue 44            75
483        979           Touring-3000 Blue 50            75
484        980       Mountain-400-W Silver 38            75
485        981       Mountain-400-W Silver 40            75
486        982       Mountain-400-W Silver 42            75
487        983       Mountain-400-W Silver 46            75
488        984         Mountain-500 Silver 40            75
489        985         Mountain-500 Silver 42            75
490        986         Mountain-500 Silver 44            75
491        987         Mountain-500 Silver 48            75
492        988         Mountain-500 Silver 52            75
493        989          Mountain-500 Black 40            75
494        990          Mountain-500 Black 42            75
495        991          Mountain-500 Black 44            75
496        992          Mountain-500 Black 48            75
497        993          Mountain-500 Black 52            75
501        997              Road-750 Black 44            75
502        998              Road-750 Black 48            75
503        999              Road-750 Black 52            75

[136 rows x 3 columns]

In [21]:
#check how many values there are of each type
products['Color'].value_counts()

Black           93
Silver          43
Red             38
Yellow          36
Blue            26
Multi            8
Silver/Black     7
White            4
Grey             1
Name: Color, dtype: int64

In [22]:
#how to create a new coloumn
products['DiscountPrice'] = products['ListPrice'] * 0.5

In [23]:
products.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate,DiscountPrice
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000,0.0
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000,0.0
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E},2014-02-08 10:01:36.827000000,0.0
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B},2014-02-08 10:01:36.827000000,0.0
4,316,Blade,BL-2036,1,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{E73E9750-603B-4131-89F5-3DD15ED5FF80},2014-02-08 10:01:36.827000000,0.0

In [26]:
#remove a column
products.drop(columns =['DiscountPrice'], inplace=True)

KeyError: "['DiscountPrice'] not found in axis"

In [25]:
products.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E},2014-02-08 10:01:36.827000000
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B},2014-02-08 10:01:36.827000000
4,316,Blade,BL-2036,1,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{E73E9750-603B-4131-89F5-3DD15ED5FF80},2014-02-08 10:01:36.827000000

In [29]:
#to remove a column
products.remove(columns=['DiscountList'], inplace=True)

AttributeError: 'DataFrame' object has no attribute 'remove'